<div class="contenido pt-5">
    <div class="row text-center">
        <div class="col-12">
            <h1> Author notes </h1>
        </div>
        <div class="col-12 mt-3">
            <p>This page has been created for Angular language training.</p>
        </div>
    </div>
    <div class="row mx-5 mt-5">
        <div class="col">
            <p class="mt-3">The following tools have been used for the content of this page:</p>
            <ul>
                <li> <a href="https://firebase.google.com/" target="_blank">Firebase </a> <i class="fa-solid fa-arrow-right"></i> The "Realtime Database" functionality has been used for data storage.  </li>
                <li class="my-3"> <a href="https://www.narutodb.xyz/" target="_blank">Naruto DB </a> <i class="fa-solid fa-arrow-right"></i> All the information of the page has been obtained through the result of the requests made to this API. (Sometimes it is difficult to load some images on some sites)</li>
                <li> <a href="https://developers.giphy.com/" target="_blank">Giphy Developers </a> <i class="fa-solid fa-arrow-right"></i> API used to obtain the GIFs within the web page.</li>
            </ul>
            <p>This page has a lot of improvements to make in the future, among them... make the page responsive.</p>
        </div>
    </div>
    <div class="row text-center mt-5" style="color: red; font-style: italic;">
        <p> Thank you for your visit! <i class="fa-regular fa-heart"></i></p>
    </div>
    <div class="row justify-content-center align-items-center d-flex" id="social">
        <div class="col justify-content-end d-flex">
            <a href="https://github.com/CeliaSanchez13/Naruto-Wiki" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="col">
            <a href="https://www.linkedin.com/in/celia-sanchez-mariblanca/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <div class="row ">
        <div class="col mt-3 mb-5 pb-5 d-flex justify-content-center">
            <img src="assets/img/n-gif.gif" alt="Naruto-thanks">
        </div>
    </div>
</div>
