#boxComment{
    background-color: #F9E79F ;
    border: 1px solid rgba(105,80,255,0.59);
    border-radius: 7px 5px 5px 5px;
    -webkit-border-radius: 7px 5px 5px 5px;
    -moz-border-radius: 7px 5px 5px 5px;
}

#boxText{
    background-color: #C8C8C8;
    border: 1px solid #7B7B7B;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
}

.likeSelect{
    color:green;
}
.quitarDisLike{
    color:black;
}

.dislikeSelect{
    color:red;
}

.mostrarBoton{
    visibility: hidden;
}
