<div class="contenido"> 
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/academia.jpg" class="d-block w-100" alt="New user">
            <div class="carousel-caption d-none d-md-block pb-1">
              <h1 class="titulo">Register</h1>
              <div class="alert alert-warning" role="alert">
                Create a new user to enjoy our BLOG and the new features implemented in the future.
              </div>
            </div>
        </div>
    </div>
    <div class="p-5">
        <div class="row g-3 align-items-center">
            <form autocomplete="off" [formGroup]="formu" (ngSubmit)="save()">
                <div class="col">
                    <!-- Primer row-->
                    <div class="row form-group">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Username</label>
                        </div>
                        <div class="col-3">
                            <input type="text"
                                   placeholder="User" 
                                   class="form-control" 
                                   formControlName="user">
                            <span class="form-text" *ngIf="isValidField('user')">Must have a minimum of 5 characters.</span>
                        </div>
                        <div class="col-auto">
                            <label for="inputEmail" class="col-form-label">Email</label>
                        </div>
                        <div class="col-5">
                            <input type="text" 
                                   placeholder="Email" 
                                   class="form-control"
                                   formControlName="email">
                            <span class="form-text" *ngIf="isValidField('email')">Not a correct email.</span>
                        </div>
                    </div>
                    <!-- Segundo row-->
                    <div class="row form-group row-cols-sm-auto mt-5">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Date of birth</label>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <mat-form-field>
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>                     
                    </div>
                    <!-- Tercer row-->
                    <div class="row form-group mt-5">
                        <div class="col-auto">
                            <label class="col-form-label">Password</label>
                        </div>
                        <div class="col-4">
                            <input type="password" 
                                   class="form-control"
                                   placeholder="Password"
                                   formControlName="password">
                            <span class="form-text" *ngIf="isValidField('password')"> Must be between 8 and 16 characters, at least one digit, at least one lower case letter and at least one upper case letter.</span>
                        </div>
                        <div class="col-auto">
                            <label class="col-form-label">Repeat password</label>
                        </div>
                        <div class="col-4">
                            <input type="password" 
                                   class="form-control" 
                                   placeholder="Password"
                                   formControlName="password2">
                            <span class="form-text" *ngIf="isValidField('password2')">Passwords is required.</span>
                        </div>
                    </div>
                    <div class="row form-group mt-5 mt-3">
                        <div class="col-12 text-center mb-1" style="font-weight: bold;">
                            <p>Choose your Avatar</p>
                        </div>
                        <div class="col-12 text-center mb-4" id="imgChoose">
                            <p style="color: red;"> Choose an avatar for your account  </p>
                        </div>
                        <div class="col-3 px-5" *ngFor="let avatar of avatarList">
                           <img [src]="avatar.img" style="height: 184px; cursor: pointer;" [alt]="avatar.name" id="imgAv" (click)="useImage('#imgChoose',avatar.img)">
                        </div>
                        
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button type="submit" id="botonReg" class="btn btn-outline-success" style="background-color: transparent;"> <i class="fa-regular fa-paper-plane"></i> Send</button>
                        <button type="button" id="botonReg" class="btn btn-outline-danger" style="background-color: transparent;" (click)="clear()"> <i class="fa-regular fa-trash-can"></i> Clear</button>
                      </div>
                </div>
            </form>
        </div>
    </div>
</div>