/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.btn{
    background-color: orange;
}

/* Cabecera listados */
.cabecera{
    background-color: white;
}

.cabeceraAka{
    border-radius: 25px;
    border: 6px solid #E55959; 
    background-color: black; 
    color: white;
}

.contenido{
    height: 100%; 
    background-color: white;
}

@font-face {
    font-family: 'Naruto';
    src: url('assets/font/njnaruto.ttf');
}
h1{
    font-family: Naruto;
}

h4{
    font-family: Naruto;
    color: #EF943E;
}
h3{
    font-family: Naruto;
    color: #F73411;
}
